// Define variables for your color scheme

// core colours:
$white: #FFFFFF;
$cream: #F4F2F3;
$light-grey: #E5E6E9;
$green: #2c9688;
$charcoal: #4b4b4b;

//supporting colours:
$yellow: #f7a02e;
$red: #cc1b57;
$blue: #3f51b5;

//functional colours:
$orange: #FF8500;
