// Define variables for your color scheme

// core colours:
$white: #FFFFFF;
$cream: #F4F2F3;
$light-grey: #E5E6E9;
$green: #2c9688;
$charcoal: #4b4b4b;

//supporting colours:
$yellow: #F6DFBD;
$red: #4b91e3;
// $red: #F0AEB2;
$blue: #3f51b5;
$avo-green: #CEDEAD;
$aqua: #D5EDE7;
$peach: #FFDCD1;
$orange: #DF744A;


//functional colours:
$orange: #FF8500;
