.filter-results-and-sort {
  width: 80%;
  margin: 0px auto;
  padding: 20px;
}

.header {
  width: 80%;
}

.results {
  width: 80%;
}

.side-bar-filters {
  width: 300px;
  padding: 16px;
}

.text-inputs {
  border-radius: 4px;
}
