.learning-opp-page {
  .learning-opp-page-price {
    font-family: $headers-font;
    font-size: 30px;
    font-weight: bold;
  }
  .learning-opp-page-location {
    padding-top: 5px;
    background: #f4f4f4;
    padding: 5px;
    color: rgba(0, 0, 0, 0.6);
  }
  .summary-details {
    background: #eee;
    padding: 14px;
    border-radius: 2px;

    #map {

    }
  }
}

.review-card {
  .review-card-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 16px;
  }
  .summary-info {

  }
  .review-author {

  }
  .review-stars {

  }
}
