.filter-results-and-sort {
  margin: 0px auto;
  padding: 20px 40px;
}

.header {
  // width: 80%;
}

.results {
  // width: 80%;
}

.side-bar-filters {
  padding: 16px;
}

.text-inputs {
  border-radius: 4px;
}

#sort-by-price {
  cursor: pointer;
  color: #2c9688;
}
