.filter-results-and-sort {
  width: 70%;
  margin: 0px auto;
  padding: 20px;
}

.results {
  width: 80%;
}

.side-bar-filters {
  width: 300px;
  padding: 16px;
}

.text-inputs {
  border-radius: 4px;
}

// .filter-submit {
//   display: none;
// }
