.learning-opp-page {
    min-height: 75vh;
  .learning-opp-page-price {
    font-family: $headers-font;
    font-size: 30px;
    font-weight: bold;
  }
  .learning-opp-page-location {
    padding-top: 5px;
    // background: #f4f4f4;
    padding: 5px;
    color: rgba(0, 0, 0, 0.6);
  }
  .summary-details {
    @media (min-width: 768px) {
      position: absolute;
      right: 2%;
    }
    border: 1px solid #ddd;
    padding: 14px;
    border-radius: 2px;
  }
  p {
    margin-top: 30px;
    width: 90%;
  }
}

#show-page-bookmark-icon{
  position: absolute;
  top: 10px;
}

.review-card {
  background-color: white;
  border: 1px solid #ddd;
  .review-card-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 16px;
  }
  .summary-info {

  }
  .review-author {

  }
  .review-stars {
    color: #F4B943;
  }
}
