<div class="skill-page">
  <div class="container">
    <div class="col-md-12">
      <h1>Front End Developer</h1>
      <p>The front-end developer creates interaction and user experience with scripts embedded in a site’s HTML. Everything a visitor to your site sees, clicks, or uses to input or retrieve information is the work of the front-end developer who creates client-side software that brings the site’s design to life.</p>

      <p class="mt-4">THE ESSENTIAL SKILLS YOU NEED:</p>
      <div class="row">
        <div class="experience-1">
          <p class="junior exp-btn is-checked" id="junior" href="#">
            Junior
          </p>
          <p class="mid-level exp-btn" id="mid" href="#">
            Mid-level
          </p>
          <p class="senior exp-btn" id="senior" href="#">
            Senior
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="isotope-container isotope-not-loaded">
    <% @frontend.skills.each do |skill| %>
      <%= link_to learning_opportunities_path(:query => skill.name), class: 'grid-item-link' do%>
        <div
        class="grid-item"
        data-skill-level="<%= skill.level %>"
        data-skill-group="<%= skill.skill_group %>"
        >
          <div class="isotope">
            <div><%= skill.name %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="container mt-5">
  </div>
</div>
