<div class="container skill-page">
  <div class="col-md-4">
    <h1>Front End Developer</h1>
    <p>The front-end developer creates interaction and user experience with scripts embedded in a site’s HTML. Everything a visitor to your site sees, clicks, or uses to input or retrieve information is the work of the front-end developer who creates client-side software that brings the site’s design to life.</p>

    <p><strong style="font-size:16px">Front-end developers are the bridge between the designer and the back-end programmer,</strong> which means they have to be both creative and tech-savvy. Their focus is on user experience, and the technology they implement will hinge on how well it accomplishes that speed, efficiency, and smooth functionality.</p>
    <div class="row">
      <div class="experience-1">
        <a class="junior exp-btn is-checked" id="junior" href="#">
          <h3>Junior</h3>
        </a>
        <a class="mid-level exp-btn" id="mid" href="#">
          <h3>Mid-level</h3>
        </a>
        <a class="senior exp-btn" id="senior" href="#">
          <h3>Senior</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <h2>Essential skills required as a front end developer:</h2>
    <div class="isotope-container">
      <% @frontend.skills.each do |skill| %>
        <%= link_to learning_opportunities_path(:query => skill.name) do%>
          <div
          class="grid-item"
          data-skill-level="<%= skill.level %>"
          data-skill-group="<%= skill.skill_group %>"
          >
            <div class="isotope">
              <div><%= skill.name %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
