<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <% @professions.each do |prof| %>
        <h1><a href="/frontend"><%= prof.name %></a></h1>
      <% end %>
      <%= link_to 'All Learning Opportunities', learning_opportunities_path %>
    </div>
  </div>
</div>

