<div class="container home-container">
  <div class="row">
    <div class="offset-3 col-6 text-center">
      <p style='font-family: "Roboto"'>SEE SKILLS BY ROLE</p>
      <% @professions.sort_by { |profession| profession.name }.each do |prof| %>
        <h1 class="home-flip"><a class="home-flip" href="/frontend"><%= prof.name.split().first.upcase %></a></h1>
      <% end %>
      <%= link_to 'SEE ALL EVENTS', learning_opportunities_path %>
    </div>
  </div>
</div>

