
<div class="container">
  <p style="background-color:powderblue;"><strong>headers</strong></p>
  <div>
    <h1>Header</h1>
    <h2>subheader</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <hr>

  <p style="background-color:powderblue;"><strong>buttons</strong></p>
  <a class="btn" href="#">Write a story</a>
  <a class="btn" href="#">Book now</a>
  <a class="btn" href="#">Start now</a>

  <hr>

  <p style="background-color:powderblue;"><strong>cards</strong></p>

  <div class="learning-opp-list-item">
    <div class="left-bar">
      <div class="text-and-image">
        <img class="learning-opp-image" src="https://images.unsplash.com/photo-1505373877841-8d25f7d46678?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80">
        <div class="main-text">
          <li>
            <h4>Card Name</h4>
            <p> Card Description </p>
            <p>$100</p>
          </li>
        </div>
      </div>
      <div class="grey-bar">
      </div>
    </div>
    <div class="right-bar">
      <i class="far fa-bookmark"></i>
      <div class="details">
        <hr>
        <p>Details <br> From date <br>
        <i class="fas fa-angle-double-down"></i> </p>
      </div>
    </div>
  </div>

  <hr>

  <p style="background-color:powderblue;"><strong>experience level</strong></p>

  <div class="d-flex justify-content-around">
    <div class="junior">
      <h1>Junior</h1>
      <h2>Junior</h2>
      <h3>Junior</h3>
    </div>

    <div class="mid-level">
      <h1>Mid-level</h1>
      <h2>Mid-level</h2>
      <h3>Mid-level</h3>
    </div>

    <div class="senior">
      <h1>Senior</h1>
      <h2>Senior</h2>
      <h3>Senior</h3>
    </div>
  </div>

  <hr>

  <p style="background-color:powderblue;"><strong>young developer</strong></p>

  <div class="d-flex justify-content-around">
    <img src="https://images.unsplash.com/photo-1521702813222-1943f3fb9c07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="" style="width:370px;height:250px;">
    <img src="https://images.unsplash.com/photo-1521702813222-1943f3fb9c07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="" style="width:370px;height:250px;">
    <img src="https://images.unsplash.com/photo-1521702813222-1943f3fb9c07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="" style="width:370px;height:250px;">
  </div>

</div>
