.card-lo {
  overflow: hidden;
  background: $white;

  /*@include elevation(5);*/
  /*box-shadow: -4px 5px 20px 0px #CBCBCB;*/
  height: 330px;
  width: 100%;
  position: relative;
  margin: 10px;

  h2 {
    line-height: 2rem;
  }

  p {
    color: black;
    opacity: 0.7;
  }

  .btn {
    box-shadow: none;
  }
}

.card-title {
  height: 50px;
}

.card-lo-technology {
  background: radial-gradient(circle, $avo-green 0%, darken($avo-green, 12%) 100%);
}

.card-lo-general {
  background: radial-gradient(circle, $yellow 0%, darken($yellow, 12%) 100%);
}

.card-lo-behaviour {
  background: radial-gradient(circle, $peach 0%, darken($peach, 6%) 100%);
  /*background: radial-gradient(circle, white 0%, darken(white, 6%) 100%);*/
}

.card-lo-methodology {
  background: radial-gradient(circle, $aqua 0%, darken($aqua, 12%) 100%);
  /*background: radial-gradient(circle, white 0%, darken(white, 6%) 100%);*/
}

.card-lo-methodology {
  background: $blue;
}

.card-lo h2 {
  font-size: 18px;
  margin: 0;
}

.card-lo p {
  font-size: 1rem;
  opacity: .7;
  margin: 0;
  margin-top: 5%;
}

.card-lo .card-lo-infos {
  padding-top: 0px;
  padding-right: 80px;
  position: absolute;
  top: 12%;
}

.bookmark-icon {
  z-index: 20;
  font-size: 20px;
  position: absolute;
  right: 6%;
  top: 8%;
}

// .bookmark-icon {
//   font-size: 24px;
//   height: 21%;
//   width: 18%;
//   padding: 2%;
//   background-color: $white;
//   color: $charcoal;
//   opacity: 0.6;
//   text-align: center;
//   border-radius: 0px 0px 0px 12px;
//   position: absolute;
//   right: 0%;
//   .fa-bookmark {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // margin-top: -12px;
    // margin-left: -9px;
//   }
//   &:hover {
//     color: $primary;
//     transform: scale(1.1);
//   }
// }

.card-lo-pricing {
  position: absolute;
  right: 6%;
  bottom: 2%;
}

.card-lo-review {
  position: absolute;
  bottom: 2%;
}

.card-location {
  color: black;
  font-family: "Roboto";
  font-weight: bold;
}




