.list-item {
  width: 400px;
}


.card-lo {
  overflow: hidden;
  background: $white;
  box-shadow: -4px 5px 20px 0px #cbcbcb;
  border-radius: 12px;
  height: 230px;
  width: 100%;
  position: relative;
  margin: 10px;
}

.card-lo-1 {
  background: $avo-green;
}

.card-lo-2 {
  background: $yellow;
}

.card-lo-3 {
  background: $red;
}

.card-lo h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-lo p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  margin-top: 5%;
}

.card-lo .card-lo-infos {
  padding-top: 0px;
  padding-left: 8%;
  padding-right: 80px;
  position: absolute;
  top: 12%;
}

.bookmark-icon {
  font-size: 24px;
  height: 21%;
  width: 18%;
  padding: 2%;
  background-color: $white;
  color: $charcoal;
  opacity: 0.6;
  text-align: center;
  border-radius: 0px 0px 0px 12px;
  position: absolute;
  right: 0%;
  &:hover {
    color: $primary;
  }
}

.card-lo-pricing {
  position: absolute;
  right: 4%;
  bottom: 6%;
}

.card-lo-review {
  position: absolute;
  left: 8%;
  bottom: 6%;
}

.card-location {
  color: black;
  font-family: "Roboto";
  font-weight: bold;
}




