.experience {

}

.experience-1 {
  display: flex;

  a {
    text-decoration: none;
    border: 1px solid $charcoal;
    padding: 2% 5%;
    color: $charcoal;
    &:hover {
      color: $primary;
    }
  }

  .junior {
    border-radius: 12px 0px 0px 12px;
    border-right-style: none;
  }

  .senior {
    border-radius: 0px 12px 12px 0px;
    border-left-style: none;
  }
}

.experience-2 {
  display: flex;
  text-align: center;
  a {
    text-decoration: none;
    color: $charcoal;
    width: 200px;
    height: 100%;
    i {
      border: 1px solid $charcoal;
      border-radius: 12px;
      box-shadow: 0px 5px 16px rgba(0, 0, 0, .3);
      font-size: 48px;
      padding: 8%;
    }
    h3 {
      margin: 5%;
    }
    &:hover {
      i {
        background: $primary;
        color: $white;
        opacity: 0.8;
      }
    }
  }
}


