.experience-1 {
  display: flex;
  flex: 1;
  a {
    width: 33%;
    text-decoration: none;
    text-align: center;
    padding: 2% 3%;
    color: $charcoal;
    white-space: nowrap;
    font-size: 18px;
  }
  a.junior {
    &:hover {
      color: $primary;
    }
  }
  a.mid-level {
    &:hover {
      color: darken($yellow, 20);
    }
  }
  a.senior {
    &:hover {
      color: darken($red, 20);
    }
  }
  .junior.is-checked {
    color: $primary;
  }
  .mid-level.is-checked {
    color: darken($yellow, 20);
  }
  .senior.is-checked {
    color: darken($red, 20);
  }
}

.experience-2 {
  display: flex;
  text-align: center;
  a {
    text-decoration: none;
    color: $charcoal;
    width: 200px;
    height: 100%;
    i {
      border: 1px solid $charcoal;
      border-radius: 12px;
      box-shadow: 0px 5px 16px rgba(0, 0, 0, .3);
      font-size: 48px;
      padding: 8%;
    }
    h3 {
      margin: 5%;
    }
    &:hover {
      i {
        background: $primary;
        color: $white;
        opacity: 0.8;
      }
    }
  }
}


