.experience-1 {
  display: flex;
  width: 100%;

  a {
    width: 100%;
    text-decoration: none;
    text-align: left;
    padding: 2% 5%;
    color: $charcoal;
    white-space: nowrap;
    &:hover {
      color: $primary;
    }
  }
  a.is-checked {
    color: $primary;
  }
}

.experience-2 {
  display: flex;
  text-align: center;
  a {
    text-decoration: none;
    color: $charcoal;
    width: 200px;
    height: 100%;
    i {
      border: 1px solid $charcoal;
      border-radius: 12px;
      box-shadow: 0px 5px 16px rgba(0, 0, 0, .3);
      font-size: 48px;
      padding: 8%;
    }
    h3 {
      margin: 5%;
    }
    &:hover {
      i {
        background: $primary;
        color: $white;
        opacity: 0.8;
      }
    }
  }
}


