// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "card";
@import "experience";
@import "isotopes";
@import "profile";

.home-flip {
  color: $charcoal;
  font-size: 75px;
  font-family: $headers-font;
  text-decoration: none !important;
  &:hover {
    transform: scaleX(-1);
    &::before {
        content: "<";
    }
  }
}

.home-container {
  margin-top: 8%;
}
