.learning-opp-list-item {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 2px;
  margin: 20px 40px;
  height: 160px;
}

.left-bar {
  position: relative;
  width: 100%;
  display: flex;

}

    .text-and-image {

    }

        .learning-opp-image {
          height: 130px;
          width: 130px;
          position: absolute;
          bottom: 15px;
          left: 15px;
          z-index: 2;
          object-fit: cover;


        }

        .main-text {
          position: absolute;
          left: 160px;
          z-index: 2;
          margin: 10px 10px 10px 0px;

          p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

        }

    .grey-bar {
      height: 30px;
      background-color: $light-grey;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

.right-bar {
  width: 160px;
  height: 100%;
}

    .bookmark-icon {
      height: 40%;
      padding: 10px;
      text-align: end;

    }

    .details {
      background-color: white;
      height: 60%;
      padding: 10px;


      hr {
        margin: 0px 0px 5px 0px;
        border-top: 2px solid $green;


      }

    }


