.navbar-lewagon {
  justify-content: space-between;
  background: $charcoal;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sub-heading {
  display: flex;
}

.sub-heading p {
  margin-right: 10%;
}

.review-card {
  margin-bottom: 5%;
}

.nav-item {
  padding: 0px 16px 0px 16px;
}

.nav-link {
  color: #c1c1c1;

}

.nav-link:hover {
  color: $cream;
}
