.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
    hr {
      margin: 0;
      margin-bottom: 20px;
      border: none;
    }
}

.dropdown {
  height: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.badge {
  color: white;
  position: absolute;
  right: -0;
  top: 0;
  background-color: red;
  border-radius: 100%;
  font-size: x-small;
}

.nav-link {
  font-family: $headers-font;
  text-transform: uppercase;
  font-variant: unicase;
  font-size: 20px;
}

.bookmark {
  display: flex;
  position: relative;
}

.sub-heading {
  display: flex;
}

.sub-heading p {
  margin-right: 10%;
}

.review-card {
  margin-bottom: 5%;
}

.nav-item {
  padding: 0px 16px 0px 16px;
}

.nav-link {
  color: $charcoal;
  height: 0px;
}

.nav-link:hover {
  color: #c1c1c1;
}
