.nav-tabs {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 6%;
}

.nav-item {
  padding: 0px 5px 0px 5px;
  border-radius: 2px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  border-bottom: solid 2px;
  padding-bottom: 32px;
  border-color: $green;
  color: #17544c;
  background-color: white;
  border-radius: 0;
  justify-content: space-between;
}

.pills-container {
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.profile-image {

  .avatar-l {
    align-self: self-end;
    max-height: 400px;
    margin: 20px;
    margin-left: 20%;
  }
}

.pro-info-container{
  .align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}


.right-half{
  display: flex;
  padding: 20px 35px;
  border: 1px solid $light-grey;
  p {
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 4%;
  }
}

.text-details {
  width: 90%;
}

.edit-btn {
  width: 10%;
  text-align: right;

}

.no-event-box {

}

.button-suggest {
  &:hover{
    text-decoration: none;
    color: $charcoal;

  }

}
