.review-card {
  box-shadow: 6px 6px 14px #eaeaea;
  border-radius: 4px;
  background-color: $cream;
  margin: 10px 0px;
  padding: 20px;

  p {
    margin: 0px;
  }

}

.summary-info {

}

.review-text {

}
