.review-card {
  display: flex;
  box-shadow: 6px 6px 14px #eaeaea;
  border-radius: 4px;
  background-color: $cream;
  margin: 10px 0px;

}

.summary-info {
  padding: 10px;
  width: 240px;

}

.review-text {
  padding: 10px;

}
