<div class="row">
  <div class="col-12 col-md-3">
    <div class="side-bar-filters">
      <div id="filters">
        <form id="filter-form" action="/learning_opportunities" data-remote="true">
          <div label="price-filter">
            <% if params[:query] %>
              <input type="hidden" name="query" value="<%= params[:query] %>">
            <% end %>
            <h4 class="filter-header-small">Max Price</h4 class="filter-header-small">
              <div class="range-slider">
                <span id="rs-bullet" class="rs-label">250</span>
                <input id="rs-range-line" name="max-price" class="rs-range" type="range" value="250" min="0" max="250">
              </div>
          </div>
          <br>
          <div label="date-filter">
            <h4 class="filter-header-small">Date</h4 class="filter-header-small">
              <!-- <label for="start-date">Start</label> -->
              <input type="text" class="text-inputs" name="start-date" id="start-date" placeholder="Start Date">
              <!-- <label for="end-date">End</label> -->
              <input type="text" class="text-inputs" name="end-date" id="end-date" placeholder="End Date">
          </div>
          <br>
          <div label="location-filter">
            <h4 class="filter-header-small">Location</h4 class="filter-header-small">
              <input type="text" class="text-inputs form-control" name="location" id="location" placeholder="Eg. Melbourne">
          </div>
          <br>
          <div class="type-filter" label="type-filter">
            <h4 class="filter-header-small">Type</h4 class="filter-header-small">
              <ul class="checkbox-list">
                <li>
                  <input type="checkbox" id="meetup" name="type[]" value="Meet Up" checked>
                  <label class="checkbox-label" for="meetup">
                    <i class="fas fa-check checked-icon"></i>
                    <i class="fas fa-plus unchecked-icon"></i>
                    Meetup
                  </label>
                </li>
                <li>
                  <input type="checkbox" id="online" name="type[]" value="online" checked>
                  <label class="checkbox-label" for="online">
                    <i class="fas fa-check checked-icon"></i>
                    <i class="fas fa-plus unchecked-icon"></i>
                    Online Course
                  </label>
                </li>
                <li>
                  <input type="checkbox" id="event" name="type[]" value="event" checked>
                  <label class="checkbox-label" for="event">
                    <i class="fas fa-check checked-icon"></i>
                    <i class="fas fa-plus unchecked-icon"></i>
                    Event
                  </label>
                </li>
              </ul>
          </div>
          <input type="radio" name="sort" id="asc" value="asc" style="display: none">
          <input type="radio" name="sort" id="desc" value="desc" style="display: none">
          <input class="filter-submit js-filter-submit" type="submit" style="display: none">
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-9">
    <div class="filter-results-and-sort">
      <div class="header">
        <h1><%= params[:query] %></h1>
        <hr>
      </div>
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/frontend">Frontend</a></li>
          <li class="breadcrumb-item active" aria-current="page"> <%= params[:query] %> Learning Opportunities </li>
        </ol>
      </div>
      <div class="sort" class="justify-content-end">
        <p id="sort-by-price"><i class="fas fa-sort"></i> Sort by price</p>
      </div>
      <div class="card-container">
        <div class="results-list">
          <%= render partial: 'cards_list', locals: { learningopportunities: @learningopportunities } %>
        </div>
      </div>
    </div>
  </div>
</div>
