
<div class="d-flex">
  <div class="side-bar-filters">
    <div id="filters" class="d-flex justify-content-between">
      <div id="filters">
        <form id="filter-form" action="/learning_opportunities" data-remote="true">
          <h3>Filters</h3>
          <div label="price-filter">
            <% if params[:query] %>
              <input type="hidden" name="query" value="<%= params[:query] %>">
            <% end %>
            <h5>Max Price</h5>
              <p id="price">100</p>
              <input type="range" name="max-price" min="0" max="200" value="100" class="slider" id="priceRange">
          </div>
          <br>
          <div label="date-filter">
            <h5>Date</h5>
              <label for="start-date">Enter start date: </label>
              <input type="text" class="text-inputs" name="start-date" id="start-date">
              <label for="end-date">Enter end date: </label>
              <input type="text" class="text-inputs" name="end-date" id="end-date">
          </div>
          <br>
          <div label="location-filter">
            <h5>Location</h5>
              <label for="location">Enter location: </label>
              <input type="text" class="text-inputs" name="location" id="location">
          </div>
          <br>
          <div label="type-filter">
            <h5>Type</h5>
              <input type="checkbox" id="meetup" name="type[]" value="meetup">
              <label for="meetup">Meetup</label>
              <input type="checkbox" id="online" name="type[]" value="online">
              <label for="online">Online Course</label>
          </div>
          <input class="filter-submit js-filter-submit" type="submit" style="display: none">
        </form>
      </div>
    </div>
  </div>
  <div class="filter-results-and-sort">
    <div class="header">
      <h1><%= params[:query] %> Learning Opportunities</h1>
      <hr>
    </div>
    <div>
      <div class="sort" class="justify-content-end">
        <a href="#" id="sort-by-price">Sort by price</a>
        <a href="#" id="sort-by-duration">Sort by duration</a>
      </div>
      <br>
      <div class="card-container">
        <%= render partial: 'cards_list', locals: { learningopportunities: @learningopportunities } %>
      </div>
    </div>
  </div>
</div>
