<div class="bookmark-icon" id="<%= learning_opportunity_id %>">
  <%= link_to '<i class="far fa-bookmark"></i>'.html_safe, user_bookmarks_path(bookmark, user_id: current_user.id, learning_opportunity_id: learning_opportunity_id), method: "post", remote:true unless (current_user.nil? || bookmark) %>
  <%= link_to '<i class="fa fa-bookmark"></i>'.html_safe, user_bookmark_path(bookmark), method: "delete", remote: true if bookmark %>
</div>
